body{
    position:relative; /*全体のサイズを画面に揃える */
    background-size: cover; /*背景色を全体に */
    background-color:aliceblue;
    font-family:sans-serif;
}
.img1{
    background-image:url("https://wide-kabegami.com/1920_nature/wallpapers/image/1920-304wallpaper.jpg");
    width:100%;
    height:800px;
}
/*ここからはbodyの基準サイズに合わせる */

#language-button{
    margin: 30px 20px 20px 90%;
    border: 1px solid #333; /*太さと種類と色 */
    padding: 8px 20px; /*ボタン内余白 */
    background: #006C84; /*ボタンの背景色*/
    cursor: pointer; /*マウスを乗せると指に変わる */
}
header{
    font-size: 20px;
    padding-left:50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #006C84;
    color:aliceblue; /*文字の色*/
}
.sub{
    font-size: 38px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left:40px ;
    margin-right: 75%;
    padding-left: 50px;
    padding-bottom: 12px;
    border-bottom: 5px solid #333;
}
.button{
    color:aliceblue
}
.information{
    display:flex; /*要素の並列が可能*/
    justify-content:space-evenly; /*スペースを均等に、どこの間も同じ*/
}
.profile{
    position:relative;
    margin-bottom: 70px;
    padding:10px;
    padding-bottom: 30px;
    background-color: #6EB5C0;
    width:500px
}
.profile h3{
    font-size: 100%;
}
.profile h4{
    padding:30px;
    font-size: 170%;
}
.profile div{
    margin-left: 10%;
    font-size: 130%;

}

#profile-button{
    position:absolute;
    margin-top:0;
    margin-left:70%;
    border: 1px solid aliceblue;
    padding: 8px 20px;
    background: #006C84;
    cursor: pointer;
}
#like-button{
    position: absolute;
    margin-top:0;
    margin-left:70%;
    border: 1px solid aliceblue;
    padding: 8px 20px;
    background: #006C84;
    cursor: pointer;
}
.more-parent{
    display: flex;
    justify-content: space-between; /*スペースを均等に2つなら要素が両端に寄る*/
    align-items: center; /*箱を中央揃え、ないと文字のboxが上にくる*/
    flex-wrap: wrap; /*画面からはみ出たら折り返す*/
    padding:7%;
}

.more-parent:nth-child(even) {
    flex-direction: row-reverse; /*レイアウトの順番を変える*/
  }
.img2{
    width:48%;
    height:auto;
}
.more-baby{
    font-size: 30px;
    background-color:#6EB5C0 ;
    width:38%;
    height:35%;
    padding:30px;
}

.add-parent{
    position:relative;
    display:flex;
    justify-content:space-evenly;
}

.img3{
    width:100%;
    height:200px;
}
.add-baby{
    position:relative;
    text-align:center;
    margin-bottom: 100px;
    background-color: #6EB5C0;
    width:300px
}
footer{
    padding: 23px 50%;
    background-color: #006C84;
    color:aliceblue;
    font-family:fantasy;
    font-size: 30px;
}




